[{aws_events,
	[
		{aws_access, "ACCESS"},
		{aws_secret, "SECRET"},
		{aws_sqs_host, "sqs.eu-west-1.amazonaws.com"},
		{event_file_format_description, [
 			{session, [time, source, user_id, latitude, longitude, <<"duration">>]},
 			{purchase, [time, source, user_id, latitude, longitude, <<"product">>, <<"promotion-code">>]}
			]},
		{max_event_file_size, [
			{session, 20000},
			{purchase, 30000}
		]},
		{event_stream_format_description, [
		 	{session, [
				{latitude, <<"x">>},
		 		{longitude, <<"y">>},
		 		{<<"duration">>, <<"d">>}]
		 	},
		 	{purchase, [
		 		{latitude, <<"x">>},
		 		{longitude, <<"y">>}]
			}
		 ]
		}
	]
}].
