{sub_dirs, [
            "apps/aws_events",
            "rel"
           ]}.
{erl_opts, [
            debug_info,
            fail_on_warning,
            {parse_transform, lager_transform},
            {i, "include"},
            {i, "deps/egeoip/include"}
           ]}.
{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.2.0"}}},
	{erlcloud,".*", {git, "https://github.com/gleber/erlcloud.git",{tag, "v0.10.0"}}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.6.2"}}},
	{egeoip, ".*", {git, "https://github.com/mochi/egeoip.git"}},
	{jesse, ".*", {git, "https://github.com/klarna/jesse.git", {tag, "1.1.5"}}},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.2"}}}
]}.
