{
	"Description" : "Miniclip chalenge",
	"Resources" : {
		"CSVBucket" : {
			  "Type" : "AWS::S3::Bucket"
			  },			  
		"EventQueue" : {
			"Type" : "AWS::SQS::Queue",
			"Properties" : {
				"VisibilityTimeout" : "30"
				}
			}
	}
}
