[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
{aws_events,
	[
		{aws_access, "ACCESS"},
		{aws_secret, "SECRET"},
		{aws_sqs_host, "sqs.eu-west-1.amazonaws.com"},
		{aws_sqs_queues, all}, %% can be all or a list of queue urls
		{event_file_format_description, [
 			{session, [time, source, user_id, latitude, longitude, <<"duration">>]},
 			{purchase, [time, source, user_id, latitude, longitude, <<"product">>, <<"promotion-code">>]}
			]},
		{max_event_file_size, [
			{session, 1000},
			{purchase, 30000}
		]},
		{event_stream_format_description, [
		 	{session, [
				{latitude, <<"x">>},
		 		{longitude, <<"y">>},
		 		{<<"duration">>, <<"d">>}]
		 	},
		 	{purchase, [
		 		{latitude, <<"x">>},
		 		{longitude, <<"y">>}]
			}
		 ]
		}
	]
}
].

